@page
@model RazorTutorial1.Pages.DateTimePickerModel
@{
}

<form method="post">
    <a>Start date and time</a>
    DateTime:
    <input class="form-control" asp-for="DateTimeStart" value="@DateTime.Now" />
    <a>End date and time</a>
    DateTime:
    <input class="form-control" asp-for="DateTimeEnd" value="@DateTime.Now" />
    <button type="submit" class="btn btn-default">Set times</button>
    
</form>
<div>
    <p>Remember to <b>Set time</b>before clicking <b>View Chart</b></p>
    <b>
        <a href="./LineChart?tag=@Model.meas.MeasurementName;@Model.meas.MeasurementUnit;@Model.meas.MeasurementDescription;@Model.meas.MeasurementId;@Model.DateTimeStart;@Model.DateTimeEnd"
            class="btn-primary" role="button">View Chart</a>
    </b>

</div>



